include README.txt
include Makefile
include LICENSE.txt
include liveusb-creator.pyc
include boot.7z
include setup.pyc
include liveusb/__init__.pyc
include liveusb/creator.pyc
include liveusb/dialog.pyc
include liveusb/gui.pyc
include liveusb/releases.pyc
include liveusb/resources_rc.pyc
include liveusb/urlgrabber/__init__.pyc
include liveusb/urlgrabber/byterange.pyc
include liveusb/urlgrabber/grabber.pyc
include liveusb/urlgrabber/keepalive.pyc
include liveusb/urlgrabber/mirror.pyc
include liveusb/urlgrabber/progress.pyc
include data/liveusb-creator.desktop
include data/blackpantherusb.png
include liveusb-creator.console
include liveusb-creator.pam
include po/*.po
include po/mki18n.py
